/*  navigation bar style */

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
	background: #fdcd5b;
	width: 8px;
	height: 8px;
	margin: -4px 0 0 -4px;
}

#fp-nav ul li a.active span,
.fp-slidesNav ul li a.active span,
#fp-nav ul li:hover a.active span,
.fp-slidesNav ul li:hover a.active span {
	width: 16px;
	height: 16px;
	margin: -8px 0 0 -8px;
	background: transparent;
	box-sizing: border-box;
	border: 1px solid #24221F;
}





/*  add new font*/


#page1
{
  background:#13042C;
}

/*  */
/*  Initial Flow
1. synapse display none
*/
/*  synapse logo*/



#g4919
{
  opacity: 1;
}
#Y2018
{
  opacity: 1;
}
#science{
  opacity: 0;
}
#industry{
  opacity: 0;
}
#AI{
  opacity: 0;
}
#Bitcoin{
  opacity: 0;
}
#FStudent{
  opacity: 0;
  display: none;
}
#MStudent{
  opacity: 0;
}
/* university logo */
#path4591
{
  opacity: 0;
}


/*  */


    	.gal img{
        width: 100%;
        padding: 7px 0;
        border-radius:4%;
      }
      #countdown, .clockdiv, .days, .hours, .minutes, .seconds
      {
        font-size: 48px;
        font-family: 'Orbitron', sans-serif;
        color: #fdcd5b;
      }
      /*  heading section */
      .getInvolvedSection{
        font-family: 'Yatra One', cursive;
        color:#fdcd5b;
        /* #f24b4c; */
        font-size: 40px;
      }
      /*  panel shadow*/
      .involvedPanel{
        box-shadow:  2px 5px 9px  #0a0415;
        /* background: #0a0415; */
        border-width: 0;
      }
      /* panel content section */
      .contHeading
      {
        font-size: 40px;
        font-family: 'Orbitron', sans-serif;
        /* color:white; */

      }
      .contDesc
      {
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        /* color:white; */
      }
      .getInvolvedSectionDesc
      {
        font-size: 20px;
        font-family: 'Roboto', sans-serif;
        color: white;
      }
      .panelDescription
      {
        padding-left: 10px;
      }
      .panel-footer {
        height: 50px !important;
        background-color: white;
        border-top-width: 0px;
        }
      .heading{
        font-family: 'Yatra One', cursive;
        color: #fdcd5b;
        font-size: 40px;
      }
      #twitterIcon
      {
        font-size: 12vw;
        color: white;
      }
      #youtubeIcon
      {
        font-size: 12vw;
        color: white;
      }
      #facebookIcon
      {
        font-size: 12vw;
        color: white;
      }
      #linkedinIcon
      {
        font-size: 12vw;
        color: white;
      }
      /*  navbar change css*/
      .navbar
      {
        opacity: 1;
        background:#fdcd5b;
        /* color: #f24b4c; */
      }
      .navbar-brand {
        position: relative;
        background: url(../img/synapseLogo.png);
        width: 227.5px;
        left: 35px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
      }
      .navbar a{
        color: #13042C;
      }
			.navLinks
			{
			color: #13042C!important;
			}
			.navLinks:hover
			{
				color: white!important;
			}
